#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%!important;
  padding: 48px;
  letter-spacing: 0.2px;
}
html,body{
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-y: hidden!important;
}